# Opciones utiles para trabajar con listas

In [ ]:
lista_compra=["pasta","arroz","aceite","mantequilla","atun"]

# AÃ±adir datos

In [2]:
#metodo append
lista_compra=["pasta","arroz","aceite","mantequilla","atun"]
print(lista_compra)
lista_compra.append("leche") #append agrega elementos completos al final de la lista
print(lista_compra)

['pasta', 'arroz', 'aceite', 'mantequilla', 'atun']
['pasta', 'arroz', 'aceite', 'mantequilla', 'atun', 'leche']

In [3]:
#metodo extend
lista_compra=["pasta","arroz","aceite","mantequilla","atun"]
print(lista_compra)
lista_compra.extend("leche") #extend agrega elementos uno por uno al final de la lista
print(lista_compra)

['pasta', 'arroz', 'aceite', 'mantequilla', 'atun']
['pasta', 'arroz', 'aceite', 'mantequilla', 'atun', 'l', 'e', 'c', 'h', 'e']

In [5]:
# cuando usar extend o append

carrito=[]
lista_compra=["pasta","arroz","aceite","mantequilla","atun"]
lista_veduras=["tomate","cebolla","zanahoria"]
lista_carne=["res","pollo","pescado"]

# uso append cuando quiero mantener las cosas separadas
carrito.append(lista_compra)
carrito.append(lista_veduras)
carrito.append(lista_carne)
print(carrito) # es una lista de listas
print(carrito[1])

[['pasta', 'arroz', 'aceite', 'mantequilla', 'atun'], ['tomate', 'cebolla', 'zanahoria'], ['res', 'pollo', 'pescado']]
['tomate', 'cebolla', 'zanahoria']

In [6]:
# cuando usar extend o append

carrito=[]
lista_compra=["pasta","arroz","aceite","mantequilla","atun"]
lista_veduras=["tomate","cebolla","zanahoria"]
lista_carne=["res","pollo","pescado"]

# uso append cuando quiero mantener las cosas separadas
carrito.extend(lista_compra)
carrito.extend(lista_veduras)
carrito.extend(lista_carne)
print(carrito) # es una lista de listas
print(carrito[1])

['pasta', 'arroz', 'aceite', 'mantequilla', 'atun', 'tomate', 'cebolla', 'zanahoria', 'res', 'pollo', 'pescado']
arroz

# Eliminar datos

In [8]:
#borrar por index
lista_compra=["pasta","arroz","aceite","mantequilla","atun"]
print(lista_compra)
del lista_compra[1]
print(lista_compra)

['pasta', 'arroz', 'aceite', 'mantequilla', 'atun']
['pasta', 'aceite', 'mantequilla', 'atun']

In [9]:
# borrar algo especifico por buscador
lista_compra=["pasta","arroz","aceite","mantequilla","atun"]
print(lista_compra)
lista_compra.remove("aceite")
print(lista_compra)

['pasta', 'arroz', 'aceite', 'mantequilla', 'atun']
['pasta', 'arroz', 'mantequilla', 'atun']

In [10]:
lista=[1,7,2,8,3,2,6,2,8,2,0,3,5]
print(lista)

lista.remove(2)
print(lista)
lista.remove(2)
print(lista)
lista.remove(2)
print(lista)

[1, 7, 2, 8, 3, 2, 6, 2, 8, 2, 0, 3, 5]
[1, 7, 8, 3, 2, 6, 2, 8, 2, 0, 3, 5]
[1, 7, 8, 3, 6, 2, 8, 2, 0, 3, 5]
[1, 7, 8, 3, 6, 8, 2, 0, 3, 5]

In [12]:
# .pop() #elimina el elemento y lo retorna
lista_compra=["pasta","arroz","aceite","mantequilla","atun"]
print(lista_compra)
eliminado=lista_compra.pop() #borra el ultimo elemento y lo guarda
print(lista_compra)
print(eliminado)

['pasta', 'arroz', 'aceite', 'mantequilla', 'atun']
['pasta', 'arroz', 'aceite', 'mantequilla']
atun

In [13]:
# .pop() #elimina el elemento y lo retorna
lista_compra=["pasta","arroz","aceite","mantequilla","atun"]
print(lista_compra)
eliminado=lista_compra.pop(3) #borra el elemento del index y lo guarda
print(lista_compra)
print(eliminado)

['pasta', 'arroz', 'aceite', 'mantequilla', 'atun']
['pasta', 'arroz', 'aceite', 'atun']
mantequilla

# multiplicarlas

In [14]:
camisetas_rojas=["s","m","l","xl","xxl"]
stock=camisetas_rojas*5
print(stock)

['s', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl']

# particionar -> slicing

In [19]:
#partir la lista en rangos definidos

lista=[1,7,2,8,3,2,6,2,8,2,0,3,5]
lista_recortada=lista[3::2] #[inicio:fin:paso] no incluye el fin
print(lista)
print(lista_recortada)

[1, 7, 2, 8, 3, 2, 6, 2, 8, 2, 0, 3, 5]
[8, 2, 2, 2, 3]

In [25]:
lista=list(range(1,101,1))
lista_recortada=lista[1::2]
print(lista_recortada)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# saber si la lista tiene un elemento

In [28]:
camisetas_rojas=["s","m","l","xl","xxl"]
stock=camisetas_rojas*5
print(stock)

#llega un cliente y compra una talla s
stock.remove("s")

tenemos_s= "s" in stock # una pregunta
print(tenemos_s)


#llega otro cliente y quiere una xs

tenemos_xs= "xs" in stock
print(tenemos_xs)

['s', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl']
True
False

In [32]:
#ejemplo practico

camisetas_rojas=["s","m","l","xl","xxl"]
stock=camisetas_rojas*50
#print(stock)


#llega otro cliente , quiero TODAS las l que tenga
contador=0
tengo_l= "l" in stock

while tengo_l==True:
    
    tengo_l= "l" in stock
    
    if tengo_l==True:
        stock.remove("l")
        contador+=1
print(contador)
print(stock[0:20])

50
['s', 'm', 'xl', 'xxl', 's', 'm', 'xl', 'xxl', 's', 'm', 'xl', 'xxl', 's', 'm', 'xl', 'xxl', 's', 'm', 'xl', 'xxl']

# otras funciones utiles

In [37]:
lista=[2,5,8,3,2,8,2,8,1,8,3,8,5,9]

print(len(lista)) #la cantidad de datos que tiene
print(max(lista))
print(min(lista))
print(sum(lista))

#para sacar un promedio
prom=sum(lista)/len(lista)
print(prom)

14
9
1
72
5.142857142857143

In [39]:
lista=["casa","arbol","ad","ap","zapato"]

print(len(lista)) #la cantidad de datos que tiene
print(max(lista))
print(min(lista))
#print(sum(lista))

5
zapato
ad

# metodo de ordenamiento

In [42]:
lista1=[2,5,8,3,2,8,2,8,1,8,3,8,5,9]
lista2=["casa","arbol","ad","ap","zapato"]

lista1.sort() #ordena de menor a mayor
lista2.sort()
print(lista1)
print(lista2)
print()
lista1.sort(reverse=True) #ordena de  mayor a menor
lista2.sort(reverse=True)
print(lista1)
print(lista2)

[1, 2, 2, 2, 3, 3, 5, 5, 8, 8, 8, 8, 8, 9]
['ad', 'ap', 'arbol', 'casa', 'zapato']

[9, 8, 8, 8, 8, 8, 5, 5, 3, 3, 2, 2, 2, 1]
['zapato', 'casa', 'arbol', 'ap', 'ad']

# funciones

- como programador defino funciones (metodos) que se van a usar repetidamente
- por ejemplo tenemos la funcion print que se definio para usarla repetidamente
- a las funciones tambien se les conoce como METODOS()

### cuando empleo funciones recuerdo 4 cosas
- 1 Defino la funcion
- 2 Defino si tiene entradas (ARGUMENTOS)
- 3 Defino si tiene salidas (RETORNO)
- 4 Invoco o uso la funcion (usarla)

### def nombre(argumentos):
###        proceso
###        return

In [43]:

def multiplicar(n1,n2):
    mult=n1*n2
    return mult

resultado= multiplicar(3,4)
print(resultado)

print(multiplicar(5,8))

12
40

In [53]:
def multiplicar(n1,n2):
    mult=n1*n2
    return mult

#333 -> 357  * 1-10

#multiplos=[1,2,3,4,5,6,7,8,9,10]
multiplos=list(range(1,11,1))
tablas=list(range(333,358,1))

print("tablas de multiplicar \n")

#bucle anidado , un bucle dentro de otro bucle
for i in tablas:
    print("tabla del ",i)
    
    for j in multiplos:
        print(f"{i} x {j} = {multiplicar(i,j)}")
    print("\n______________________________________")
    

print(f"hicimos {len(multiplos)*len(tablas)} operaciones")

tablas de multiplicar

tabla del  333
333 x 1 = 333
333 x 2 = 666
333 x 3 = 999
333 x 4 = 1332
333 x 5 = 1665
333 x 6 = 1998
333 x 7 = 2331
333 x 8 = 2664
333 x 9 = 2997
333 x 10 = 3330

______________________________________
tabla del  334
334 x 1 = 334
334 x 2 = 668
334 x 3 = 1002
334 x 4 = 1336
334 x 5 = 1670
334 x 6 = 2004
334 x 7 = 2338
334 x 8 = 2672
334 x 9 = 3006
334 x 10 = 3340

______________________________________
tabla del  335
335 x 1 = 335
335 x 2 = 670
335 x 3 = 1005
335 x 4 = 1340
335 x 5 = 1675
335 x 6 = 2010
335 x 7 = 2345
335 x 8 = 2680
335 x 9 = 3015
335 x 10 = 3350

______________________________________
tabla del  336
336 x 1 = 336
336 x 2 = 672
336 x 3 = 1008
336 x 4 = 1344
336 x 5 = 1680
336 x 6 = 2016
336 x 7 = 2352
336 x 8 = 2688
336 x 9 = 3024
336 x 10 = 3360

______________________________________
tabla del  337
337 x 1 = 337
337 x 2 = 674
337 x 3 = 1011
337 x 4 = 1348
337 x 5 = 1685
337 x 6 = 2022
337 x 7 = 2359
337 x 8 = 2696
337 x 9 = 3033
337 x 10 = 3370

______________________________________
tabla del  338
338 x 1 = 338
338 x 2 = 676
338 x 3 = 1014
338 x 4 = 1352
338 x 5 = 1690
338 x 6 = 2028
338 x 7 = 2366
338 x 8 = 2704
338 x 9 = 3042
338 x 10 = 3380

______________________________________
tabla del  339
339 x 1 = 339
339 x 2 = 678
339 x 3 = 1017
339 x 4 = 1356
339 x 5 = 1695
339 x 6 = 2034
339 x 7 = 2373
339 x 8 = 2712
339 x 9 = 3051
339 x 10 = 3390

______________________________________
tabla del  340
340 x 1 = 340
340 x 2 = 680
340 x 3 = 1020
340 x 4 = 1360
340 x 5 = 1700
340 x 6 = 2040
340 x 7 = 2380
340 x 8 = 2720
340 x 9 = 3060
340 x 10 = 3400

______________________________________
tabla del  341
341 x 1 = 341
341 x 2 = 682
341 x 3 = 1023
341 x 4 = 1364
341 x 5 = 1705
341 x 6 = 2046
341 x 7 = 2387
341 x 8 = 2728
341 x 9 = 3069
341 x 10 = 3410

______________________________________
tabla del  342
342 x 1 = 342
342 x 2 = 684
342 x 3 = 1026
342 x 4 = 1368
342 x 5 = 1710
342 x 6 = 2052
342 x 7 = 2394
342 x 8 = 2736
342 x 9 = 3078
342 x 10 = 3420

______________________________________
tabla del  343
343 x 1 = 343
343 x 2 = 686
343 x 3 = 1029
343 x 4 = 1372
343 x 5 = 1715
343 x 6 = 2058
343 x 7 = 2401
343 x 8 = 2744
343 x 9 = 3087
343 x 10 = 3430

______________________________________
tabla del  344
344 x 1 = 344
344 x 2 = 688
344 x 3 = 1032
344 x 4 = 1376
344 x 5 = 1720
344 x 6 = 2064
344 x 7 = 2408
344 x 8 = 2752
344 x 9 = 3096
344 x 10 = 3440

______________________________________
tabla del  345
345 x 1 = 345
345 x 2 = 690
345 x 3 = 1035
345 x 4 = 1380
345 x 5 = 1725
345 x 6 = 2070
345 x 7 = 2415
345 x 8 = 2760
345 x 9 = 3105
345 x 10 = 3450

______________________________________
tabla del  346
346 x 1 = 346
346 x 2 = 692
346 x 3 = 1038
346 x 4 = 1384
346 x 5 = 1730
346 x 6 = 2076
346 x 7 = 2422
346 x 8 = 2768
346 x 9 = 3114
346 x 10 = 3460

______________________________________
tabla del  347
347 x 1 = 347
347 x 2 = 694
347 x 3 = 1041
347 x 4 = 1388
347 x 5 = 1735
347 x 6 = 2082
347 x 7 = 2429
347 x 8 = 2776
347 x 9 = 3123
347 x 10 = 3470

______________________________________
tabla del  348
348 x 1 = 348
348 x 2 = 696
348 x 3 = 1044
348 x 4 = 1392
348 x 5 = 1740
348 x 6 = 2088
348 x 7 = 2436
348 x 8 = 2784
348 x 9 = 3132
348 x 10 = 3480

______________________________________
tabla del  349
349 x 1 = 349
349 x 2 = 698
349 x 3 = 1047
349 x 4 = 1396
349 x 5 = 1745
349 x 6 = 2094
349 x 7 = 2443
349 x 8 = 2792
349 x 9 = 3141
349 x 10 = 3490

______________________________________
tabla del  350
350 x 1 = 350
350 x 2 = 700
350 x 3 = 1050
350 x 4 = 1400
350 x 5 = 1750
350 x 6 = 2100
350 x 7 = 2450
350 x 8 = 2800
350 x 9 = 3150
350 x 10 = 3500

______________________________________
tabla del  351
351 x 1 = 351
351 x 2 = 702
351 x 3 = 1053
351 x 4 = 1404
351 x 5 = 1755
351 x 6 = 2106
351 x 7 = 2457
351 x 8 = 2808
351 x 9 = 3159
351 x 10 = 3510

______________________________________
tabla del  352
352 x 1 = 352
352 x 2 = 704
352 x 3 = 1056
352 x 4 = 1408
352 x 5 = 1760
352 x 6 = 2112
352 x 7 = 2464
352 x 8 = 2816
352 x 9 = 3168
352 x 10 = 3520

______________________________________
tabla del  353
353 x 1 = 353
353 x 2 = 706
353 x 3 = 1059
353 x 4 = 1412
353 x 5 = 1765
353 x 6 = 2118
353 x 7 = 2471
353 x 8 = 2824
353 x 9 = 3177
353 x 10 = 3530

______________________________________
tabla del  354
354 x 1 = 354
354 x 2 = 708
354 x 3 = 1062
354 x 4 = 1416
354 x 5 = 1770
354 x 6 = 2124
354 x 7 = 2478
354 x 8 = 2832
354 x 9 = 3186
354 x 10 = 3540

______________________________________
tabla del  355
355 x 1 = 355
355 x 2 = 710
355 x 3 = 1065
355 x 4 = 1420
355 x 5 = 1775
355 x 6 = 2130
355 x 7 = 2485
355 x 8 = 2840
355 x 9 = 3195
355 x 10 = 3550

______________________________________
tabla del  356
356 x 1 = 356
356 x 2 = 712
356 x 3 = 1068
356 x 4 = 1424
356 x 5 = 1780
356 x 6 = 2136
356 x 7 = 2492
356 x 8 = 2848
356 x 9 = 3204
356 x 10 = 3560

______________________________________
tabla del  357
357 x 1 = 357
357 x 2 = 714
357 x 3 = 1071
357 x 4 = 1428
357 x 5 = 1785
357 x 6 = 2142
357 x 7 = 2499
357 x 8 = 2856
357 x 9 = 3213
357 x 10 = 3570

______________________________________
hicimos 250 operaciones

In [49]:
lista2=["casa","arbol","ad","ap","zapato"]
for i in lista2:
    print(i)

casa
arbol
ad
ap
zapato