# Respuestas Quiz 02
### recuerden que maneras de programar hay muchas, estos son ejemplos de como podria
### haberse resuelto este quiz, recuerden que su calificacion depende de la manera como lo hicieron
### y el docente que les evalue

# Q 2-01

In [1]:
l1=["i like","i love"]
l2=["pancake","kiwi juice","espresso"]

for i in l1:
    for j in l2:
        print(i,j)

i like pancake
i like kiwi juice
i like espresso
i love pancake
i love kiwi juice
i love espresso

# Q 2-02

In [2]:
person={"Name":"David Doe","Age":26,"Weight":82,"Job":"Data Scientist"}
person["Father"]="John Doe"
print(person)

{'Name': 'David Doe', 'Age': 26, 'Weight': 82, 'Job': 'Data Scientist', 'Father': 'John Doe'}

# Q 2-03

In [3]:
list=[5,6,3,9,2,12,3,8,7]
print("lista dada: ", list)

for i in range(0,len(list)-1):
    if list[i]>list[i+1]:
        list[i], list[i+1]=list[i+1] ,list[i]

print("se mueve el 12 al ultimo lugar: ", list)

lista dada:  [5, 6, 3, 9, 2, 12, 3, 8, 7]
se mueve el 12 al ultimo lugar:  [5, 3, 6, 2, 9, 3, 8, 7, 12]

# Q 2-04

In [4]:
my_list=[[1,2],[3,4],[5,6]]
print("antes del cambio: ",my_list)
respuesta=[]
for element in my_list:
    respuesta+=element
print("despues del cambio: " , respuesta)

antes del cambio:  [[1, 2], [3, 4], [5, 6]]
despues del cambio:  [1, 2, 3, 4, 5, 6]

# Q 2-05

In [5]:
maria={"korean":94,"english":91,"matemathics":89,"science":83}
average=sum(maria.values())/len(maria)
print(average)

89.25

# Q2-06

In [6]:
import copy
school={"kim":{"age":16,"hei":170,"grade":3},"lee":{"age":15,"hei":168,"grade":2},"choi":{"age":14,"hei":173,"grade":1}}

school2=copy.deepcopy(school)
print(school is school2)

False

# Q 2-07

In [7]:
paises=("china","india","estados unidos","indonesia")
poblaciones=(1391,1364,327,264)
tupla_paises = tuple(zip(paises,poblaciones))
print(tupla_paises)

(('china', 1391), ('india', 1364), ('estados unidos', 327), ('indonesia', 264))