# Opciones utiles para trabajar con listas

In [ ]:
lista_mercado=["leche","carne","pan","huevos","aceite","arroz"]

## AÃ±adir datos

In [2]:
#metodo append
lista_mercado=["leche","carne","pan","huevos","aceite","arroz"]
lista_verduras=["tomate","cebolla","zanahoria","papas"]

lista_mercado.append("fideos")# .append agrega el elemento completo al final de la lista
print(lista_mercado)

lista_mercado.append(lista_verduras)
print(lista_mercado)

['leche', 'carne', 'pan', 'huevos', 'aceite', 'arroz', 'fideos']
['leche', 'carne', 'pan', 'huevos', 'aceite', 'arroz', 'fideos', ['tomate', 'cebolla', 'zanahoria', 'papas']]

In [4]:
#metodo extend
lista_mercado=["leche","carne","pan","huevos","aceite","arroz"]
lista_verduras=["tomate","cebolla","zanahoria","papas"]

lista_mercado.extend("fideos")# .extend agrega uno a uno los elementos al final de la lista
print(lista_mercado)

lista_mercado.extend(lista_verduras)
print(lista_mercado)

['leche', 'carne', 'pan', 'huevos', 'aceite', 'arroz', 'f', 'i', 'd', 'e', 'o', 's']
['leche', 'carne', 'pan', 'huevos', 'aceite', 'arroz', 'f', 'i', 'd', 'e', 'o', 's', 'tomate', 'cebolla', 'zanahoria', 'papas']

# Eliminar datos

In [6]:
lista_mercado=["leche","carne","pan","huevos","aceite","arroz"]

# borrar por index
del lista_mercado[2]
print(lista_mercado)

['leche', 'carne', 'huevos', 'aceite', 'arroz']

In [7]:
#borrar por buscador
lista_mercado=["leche","carne","pan","huevos","aceite","arroz"]

lista_mercado.remove("carne")
print(lista_mercado)

['leche', 'pan', 'huevos', 'aceite', 'arroz']

In [12]:
lista=[1,2,3,2,3,2,3,4,2]
lista.remove(2) # elimina el primero que encuentre
print(lista)

lista.remove(2) # elimina el primero que encuentre
print(lista)

lista.remove(2) # elimina el primero que encuentre
print(lista)
lista.remove(2) # elimina el primero que encuentre
print(lista)

[1, 3, 2, 3, 2, 3, 4, 2]
[1, 3, 3, 2, 3, 4, 2]
[1, 3, 3, 3, 4, 2]
[1, 3, 3, 3, 4]

In [14]:
# .pop() elimina el ultimo valor y lo retorna

lista_mercado=["leche","carne","pan","huevos","aceite","arroz"]
eliminado=lista_mercado.pop()

print(lista_mercado)
print(eliminado)

eliminado2=lista_mercado.pop(3)

print(lista_mercado)
print(eliminado2)

['leche', 'carne', 'pan', 'huevos', 'aceite']
arroz
['leche', 'carne', 'pan', 'aceite']
huevos

# multiplicar

In [15]:
lista_mercado=["leche","carne","pan","huevos","aceite","arroz"]
inventario=lista_mercado*3
print(inventario)

['leche', 'carne', 'pan', 'huevos', 'aceite', 'arroz', 'leche', 'carne', 'pan', 'huevos', 'aceite', 'arroz', 'leche', 'carne', 'pan', 'huevos', 'aceite', 'arroz']

# particionar -> slicing

In [16]:
# partir la lista en rangos definidos

lista=[1,2,3,4,5,6,7,8,9]

lista_recortada=lista[1:5:1] #[inicio,fin,paso] #nunca toma el ultimo valor
print(lista)
print(lista_recortada)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5]

In [21]:
lista=[1,2,3,4,5,6,7,8,9]

lista_recortada=lista[::] #[inicio,fin,paso] #nunca toma el ultimo valor
print(lista)
print(lista_recortada)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# saber si hay un elemento en la lista

In [27]:
camisetas=["s","m","l","xl","xxl"]
camisetas=camisetas*4
print(camisetas)

#llega un cliente y compra una talla m

camisetas.remove("m")
print(camisetas)

tiene_m= "m" in camisetas #pregunta si hay "m" dentro de camisetas
print(tiene_m)

#llega otro cliente y me pregunta si tengo "xxxl"
tiene_xxxl= "xxxl" in camisetas
print(tiene_xxxl)

['s', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl']
['s', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl']
True
False

In [30]:
camisetas=["s","m","l","xl","xxl"]
camisetas=camisetas*4
print(camisetas)
print("____________________________________________________")
# mi jefe ya no queire vender talla s, me pide sacar todas del inventario

tiene_s= "s" in camisetas

while tiene_s== True:
   
    tiene_s= "s" in camisetas
    
    if tiene_s== True:
        camisetas.remove("s")
        print(camisetas,"\n")

['s', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl']
____________________________________________________
['m', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl']

['m', 'l', 'xl', 'xxl', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl']

['m', 'l', 'xl', 'xxl', 'm', 'l', 'xl', 'xxl', 'm', 'l', 'xl', 'xxl', 's', 'm', 'l', 'xl', 'xxl']

['m', 'l', 'xl', 'xxl', 'm', 'l', 'xl', 'xxl', 'm', 'l', 'xl', 'xxl', 'm', 'l', 'xl', 'xxl']

# otras funciones utiles

In [35]:
lista=[1,4,8,2,9,3,2,1,9,3]

print(len(lista))# me retorna la cantidad de elementos
print(max(lista))#
print(min(lista))#
print(sum(lista))#

10
9
1
42

In [37]:
lista=["ar","jr","kf","ds","cs","ad"]

print(len(lista))# me retorna la cantidad de elementos
print(max(lista))#
print(min(lista))#
#print(sum(lista))#

6
kf
ad

# Metodo de ordenamiento

In [39]:
lista1=[1,4,8,2,9,3,2,1,9,3]
lista2=["ar","jr","kf","ds","cs","ad"]

lista1.sort() # ordena de menor a mayor
lista2.sort()

print(lista1)
print(lista2)

print("________________")
lista1.sort(reverse = True) # ordena de  mayor a menor
lista2.sort(reverse = True)

print(lista1)
print(lista2)

[1, 1, 2, 2, 3, 3, 4, 8, 9, 9]
['ad', 'ar', 'cs', 'ds', 'jr', 'kf']
________________-
[9, 9, 8, 4, 3, 3, 2, 2, 1, 1]
['kf', 'jr', 'ds', 'cs', 'ar', 'ad']

# funciones

- como programador defino funciones (metodos) que se van a usar repetidamente
- por ejemplo tenemos la funcion print que se definio para usarla repetidamen
- a las funciones tambien se les conoce como METODOS()

### cuando empleo funciones recuerdo 4 cosas
- 1 Defino la funcion
- 2 Defino si tiene entradas (ARGUMENTOS)
- 3 Defino si tiene salidas (RETORNO)
- 4 Invoco o uso la funcion (usarla)

### def nombre(argumentos):
###        proceso
###        return

In [45]:
def multiplicacion(n1,n2):
    mult=n1*n2
    return mult

cuantas=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
tabla=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

print("tablas de multiplicar \n")

for i in tabla: # recorrer uno a uno los elementos de la lista tabla
    print ("tabla del :",i)
    
    for j in cuantas:
        #print("multiplico por: ",j)
        print("{} x {} = {}".format(i,j,multiplicacion(i,j)))
    print("\n_____________________________")

tablas de multiplicar

tabla del : 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12
1 x 13 = 13
1 x 14 = 14
1 x 15 = 15
1 x 16 = 16
1 x 17 = 17
1 x 18 = 18
1 x 19 = 19
1 x 20 = 20

_____________________________
tabla del : 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
2 x 13 = 26
2 x 14 = 28
2 x 15 = 30
2 x 16 = 32
2 x 17 = 34
2 x 18 = 36
2 x 19 = 38
2 x 20 = 40

_____________________________
tabla del : 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
3 x 13 = 39
3 x 14 = 42
3 x 15 = 45
3 x 16 = 48
3 x 17 = 51
3 x 18 = 54
3 x 19 = 57
3 x 20 = 60

_____________________________
tabla del : 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56
4 x 15 = 60
4 x 16 = 64
4 x 17 = 68
4 x 18 = 72
4 x 19 = 76
4 x 20 = 80

_____________________________
tabla del : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95
5 x 20 = 100

_____________________________
tabla del : 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
6 x 13 = 78
6 x 14 = 84
6 x 15 = 90
6 x 16 = 96
6 x 17 = 102
6 x 18 = 108
6 x 19 = 114
6 x 20 = 120

_____________________________
tabla del : 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
7 x 13 = 91
7 x 14 = 98
7 x 15 = 105
7 x 16 = 112
7 x 17 = 119
7 x 18 = 126
7 x 19 = 133
7 x 20 = 140

_____________________________
tabla del : 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
8 x 13 = 104
8 x 14 = 112
8 x 15 = 120
8 x 16 = 128
8 x 17 = 136
8 x 18 = 144
8 x 19 = 152
8 x 20 = 160

_____________________________
tabla del : 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
9 x 13 = 117
9 x 14 = 126
9 x 15 = 135
9 x 16 = 144
9 x 17 = 153
9 x 18 = 162
9 x 19 = 171
9 x 20 = 180

_____________________________
tabla del : 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
10 x 13 = 130
10 x 14 = 140
10 x 15 = 150
10 x 16 = 160
10 x 17 = 170
10 x 18 = 180
10 x 19 = 190
10 x 20 = 200

_____________________________
tabla del : 11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132
11 x 13 = 143
11 x 14 = 154
11 x 15 = 165
11 x 16 = 176
11 x 17 = 187
11 x 18 = 198
11 x 19 = 209
11 x 20 = 220

_____________________________
tabla del : 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144
12 x 13 = 156
12 x 14 = 168
12 x 15 = 180
12 x 16 = 192
12 x 17 = 204
12 x 18 = 216
12 x 19 = 228
12 x 20 = 240

_____________________________
tabla del : 13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130
13 x 11 = 143
13 x 12 = 156
13 x 13 = 169
13 x 14 = 182
13 x 15 = 195
13 x 16 = 208
13 x 17 = 221
13 x 18 = 234
13 x 19 = 247
13 x 20 = 260

_____________________________
tabla del : 14
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140
14 x 11 = 154
14 x 12 = 168
14 x 13 = 182
14 x 14 = 196
14 x 15 = 210
14 x 16 = 224
14 x 17 = 238
14 x 18 = 252
14 x 19 = 266
14 x 20 = 280

_____________________________
tabla del : 15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150
15 x 11 = 165
15 x 12 = 180
15 x 13 = 195
15 x 14 = 210
15 x 15 = 225
15 x 16 = 240
15 x 17 = 255
15 x 18 = 270
15 x 19 = 285
15 x 20 = 300

_____________________________
tabla del : 16
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160
16 x 11 = 176
16 x 12 = 192
16 x 13 = 208
16 x 14 = 224
16 x 15 = 240
16 x 16 = 256
16 x 17 = 272
16 x 18 = 288
16 x 19 = 304
16 x 20 = 320

_____________________________
tabla del : 17
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170
17 x 11 = 187
17 x 12 = 204
17 x 13 = 221
17 x 14 = 238
17 x 15 = 255
17 x 16 = 272
17 x 17 = 289
17 x 18 = 306
17 x 19 = 323
17 x 20 = 340

_____________________________
tabla del : 18
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180
18 x 11 = 198
18 x 12 = 216
18 x 13 = 234
18 x 14 = 252
18 x 15 = 270
18 x 16 = 288
18 x 17 = 306
18 x 18 = 324
18 x 19 = 342
18 x 20 = 360

_____________________________
tabla del : 19
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190
19 x 11 = 209
19 x 12 = 228
19 x 13 = 247
19 x 14 = 266
19 x 15 = 285
19 x 16 = 304
19 x 17 = 323
19 x 18 = 342
19 x 19 = 361
19 x 20 = 380

_____________________________
tabla del : 20
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200
20 x 11 = 220
20 x 12 = 240
20 x 13 = 260
20 x 14 = 280
20 x 15 = 300
20 x 16 = 320
20 x 17 = 340
20 x 18 = 360
20 x 19 = 380
20 x 20 = 400

_____________________________