# Multi-indexing pandas dataframe

In [1]:
#EJEMPLO 1 ->MANUAL

import pandas as pd
from IPython.core.display import HTML

dic1={
    "year":[2018,2018,2018,2019,2019,2019],
    "country":["spain","portugal","france","spain","portugal","france"]
     }
df=pd.DataFrame(dic1)
display(HTML(df.to_html()))

index=pd.MultiIndex.from_frame(df)

data=pd.DataFrame(data=[1234,5678,9012,3456,7890,1237],index=index,columns=["vaccinations"])

display(HTML(data.to_html()))

In [2]:
#EJEMPLO 1 ->GROUPBY

import pandas as pd
from IPython.core.display import HTML
dic2={
    "year":[2018,2018,2018,2019,2019,2019],
    "country":["spain","portugal","france","spain","portugal","france"],
    "vaccinations":[1234,5678,9012,3456,7890,1237]
     }
df2=pd.DataFrame(dic2)
display(HTML(df2.to_html()))

df_g_y=df2.groupby(["year"])

for key,group in df_g_y:
    
    print("+key ", key)
    print("+number ", len(group))
    print(group.head())
    print("\n")
    
    
print("____________________________________________________________________________")    

df_g_c=df2.groupby(["country"])

for key,group in df_g_c:
    
    print("+key ", key)
    print("+number ", len(group))
    print(group.head())
    print("\n")

+key  2018
+number  3
   year   country  vaccinations
0  2018     spain          1234
1  2018  portugal          5678
2  2018    france          9012


+key  2019
+number  3
   year   country  vaccinations
3  2019     spain          3456
4  2019  portugal          7890
5  2019    france          1237


____________________________________________________________________________
+key  france
+number  2
   year country  vaccinations
2  2018  france          9012
5  2019  france          1237


+key  portugal
+number  2
   year   country  vaccinations
1  2018  portugal          5678
4  2019  portugal          7890


+key  spain
+number  2
   year country  vaccinations
0  2018   spain          1234
3  2019   spain          3456

# Procesamiento de datos nulos -> null ->NaN

In [ ]:
import sys
!{sys.executable} -m pip install seaborn

In [4]:
#https://seaborn.pydata.org
#https://github.com/mwaskom/seaborn-data    

import seaborn as sns
from IPython.core.display import HTML

#print(sns.get_dataset_names()) # para saber que bases de datos hay disponibles en el git de seaborn


df=sns.load_dataset("titanic") # esta e sla manera para traer un archivo desde el repositorio de Github
#display(HTML(df.to_html()))
print("el total de filas es :", len(df))
print()
print(df.isnull().sum(axis=0))

el total de filas es : 891

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

# ejemplo1 ELIMINAR los valores NaN

In [2]:
print("\n datos originales \n ")   
print(df.isnull().sum(axis=0))

nan_deck=df["deck"].value_counts(dropna=False) #check si hay nan en la columna deck
#print(nan_deck)

#________________________ELIMINAR POR COLUMNAS_______________________________

#la columna no es representativa , la elimino
df_new=df.dropna(axis=1,thresh=500)#dropna elimina valores nulos, axis 1 indica columnas
                            # thresh 500 indica que borre las columnas con >= de 500 nan
print("\n verificamos que se elimino la columna \n")   
print(df_new.isnull().sum(axis=0)) #verificamos que se elimino deck

#________________________ELIMINAR POR FILAS_______________________________

df_age=df_new.dropna(subset=["age"],how="any",axis=0)#dropna elimina valores nulos, axis 0 indica filas
    #subset especifica la columna para aplicar el filtro y how="any" para decir que cualquiera
print("\n verificamos que se eliminaron las filas \n")   
print(df_age.isnull().sum(axis=0)) #verificamos que se eliminaron las filas

print("despues de filtrar eliminando tengo en total :", len(df_age))

 datos originales

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

 verificamos que se elimino la columna

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
embark_town      2
alive            0
alone            0
dtype: int64

 verificamos que se eliminaron las filas

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    2
alive          0
alone          0
dtype: int64
despues de filtrar eliminando tengo en total : 714

# ejemplo2 REEMPLAZAR los valores NaN

In [8]:
# trabajamos con df new (eliminamos deck)
print(df_new.isnull().sum(axis=0))
print()

#reemplazo age con el promedio
mean_age=int(df_new["age"].mean(axis=0))# obtener el promedio de age fila por fila
print("el promedio de edad es: ",mean_age ,"\n")

df_new["age"].fillna(mean_age,inplace=True) #fillna -> rellena los valores NaN

print("\n verificamos que se corrigieron las filas \n")  
print(df_new.isnull().sum(axis=0))

#reemplazo embark_town
#reemplazar con el dato que mas se repita
most_freq=df_new["embark_town"].value_counts(dropna=True).idxmax()
                                                #idxmax halla el valor que mas se repite
print("\n la ciudad que mas se repite es : ",most_freq ,"\n")

df_new["embark_town"].fillna(most_freq,inplace=True) #fillna -> rellena los valores NaN

print("\n verificamos que se corrigieron las filas en embark_town \n")  
print(df_new.isnull().sum(axis=0))

#reemplazo embarked
#reemplazar con el dato continuo
#ffill-> anterior
#bfill-> siguiente 

df_new["embarked"].fillna(method="ffill",inplace=True)
print("\n verificamos que se corrigieron las filas en embarked \n")  
print(df_new.isnull().sum(axis=0))

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

el promedio de edad es:  29


 verificamos que se corrigieron las filas

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

 la ciudad que mas se repite es :  Southampton


 verificamos que se corrigieron las filas en embark_town

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

 verificamos que se corrigieron las filas en embarked

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

C:\Users\joseb\AppData\Local\Temp\ipykernel_13976\1298387363.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["age"].fillna(mean_age,inplace=True) #fillna -> rellena los valores NaN
C:\Users\joseb\AppData\Local\Temp\ipykernel_13976\1298387363.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["embark_town"].fillna(most_freq,inplace=True) #fillna -> rellena los valores NaN
C:\Users\joseb\AppData\Local\Temp\ipykernel_13976\1298387363.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["embarked"].fillna(method="ffill",inplace=True)

In [9]:
display(HTML(df_new.to_html()))